@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');
.hero-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 18px 0;
}
.hero-label{
  max-width: 1140px;
  max-height: fit-content;
}
.hero-label h2 {
  position: relative;
  font-family: "Story Script", sans-serif;
  font-weight: 500;
  font-size: 118px;
  line-height: 1.2;
  z-index: 4;
}
.highlight_one {
  color: 	#569700;
  font-size: larger;
}
.highlight {
  color: 	#A61D00;
}
.italy_flag {
  width: 78px;
  height: 78px;
  margin-left: 8px;
}
.parallax {
    background-image: url('../../../public/images/bg-hero.jpg');
    height: 900px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
}
.parallax .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 2;
}
.parallax h1 {
    z-index: 3;
}